flows (2).json
[{"id":"f7420e4a.0b98","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"66c0a541.f1f1ec","type":"inject","z":"f7420e4a.0b98","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":280,"wires":[["9761bf50.6f7a9"]]},{"id":"9761bf50.6f7a9","type":"function","z":"f7420e4a.0b98","name":"Payload","func":"msg.headers={\n    deviceKey:\"wbmbEJbzTZnCqyCa\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["343b9dbf.845152"]]},{"id":"343b9dbf.845152","type":"http request","z":"f7420e4a.0b98","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DrNJKeae/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":480,"y":320,"wires":[["6747c391.0d286c","b7d8723c.bf12b"]]},{"id":"6747c391.0d286c","type":"http response","z":"f7420e4a.0b98","name":"","statusCode":"","headers":{},"x":660,"y":340,"wires":[]},{"id":"b7d8723c.bf12b","type":"debug","z":"f7420e4a.0b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":460,"wires":[]}]