flows.json
[{"id":"f401938f.c802","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e3a5ea46.5ead98","type":"rpi-gpio in","z":"f401938f.c802","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":300,"wires":[["9af3594a.a4b468","c1b23db.3f2a6c"]]},{"id":"9af3594a.a4b468","type":"debug","z":"f401938f.c802","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":240,"wires":[]},{"id":"c32ac8ff.b65718","type":"rpi-gpio out","z":"f401938f.c802","name":"LED","pin":"12","set":"","level":"0","freq":"","out":"out","x":770,"y":360,"wires":[]},{"id":"c1b23db.3f2a6c","type":"switch","z":"f401938f.c802","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":360,"wires":[["ba380f1d.cf072"],["8478f36b.8479b"]]},{"id":"ba380f1d.cf072","type":"change","z":"f401938f.c802","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":380,"wires":[["c32ac8ff.b65718"]]},{"id":"8478f36b.8479b","type":"change","z":"f401938f.c802","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":480,"wires":[["c32ac8ff.b65718"]]}]