flows (1).json
[{"id":"9c050971.f71ca8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e26109cc.2721e8","type":"inject","z":"9c050971.f71ca8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":220,"wires":[["d59f129.46da5f"]]},{"id":"d59f129.46da5f","type":"function","z":"9c050971.f71ca8","name":"Payload","func":"msg.headers={\n    deviceKey:\"wbmbEJbzTZnCqyCa\"\n    };\nmsg.payload=\"Temperature,,25\";    \nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["f592f526.e1d4d8"]]},{"id":"f592f526.e1d4d8","type":"http request","z":"9c050971.f71ca8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DrNJKeae/datapoints.csv","tls":"","proxy":"","authType":"","x":600,"y":280,"wires":[["5819713f.f71fd","e3e414ec.597888"]]},{"id":"5819713f.f71fd","type":"http response","z":"9c050971.f71ca8","name":"","statusCode":"","headers":{},"x":870,"y":300,"wires":[]},{"id":"e3e414ec.597888","type":"debug","z":"9c050971.f71ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":420,"wires":[]}]